<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OurWallet</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: rgb(13, 13, 13);
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      flex-direction: column;
      text-align: center;
    }

    img {
      width: 50px;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 2.2rem;
      margin-top: 0;
      margin-bottom: 0.2rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    p {
      font-size: 1.25rem;
      max-width: 600px;
      opacity: 0.75;
      margin-top: 0.2rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .button {
      margin-top: 2rem;
      padding: 0.75rem 1.5rem;
      background-color: white;
      color: rgb(13, 13, 13);
      border: none;
      border-radius: 12px;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .button:hover {
      background-color: #ddd;
    }

    .contact {
      font-size: 0.8rem;
      color: #888;
      margin: 0;
    }
  </style>
</head>
<body>
  <img src="/images/logo.png" alt="OurWallet Logo" />
  <h2>Say hello to OurWallet</h2>
  <p>A finance app specifically designed for couples</p>
  <a href="https://apps.apple.com/us/app/ourwallet-couples-finances/id6739329232" target="_blank" style="text-decoration: none;">
    <button class="button">Download now</button>
  </a>
  <br>
  <p class="contact">Contact us:</p>
  <p class="contact">
    <a href="mailto:ourwalletteam@gmail.com" style="color: #888; text-decoration: none;">
      ourwalletteam@gmail.com
    </a>
  </p>
</body>
</html>
