<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: rgb(13, 13, 13);
            margin: 0;
            font-family: 'Helvetica Neue', sans-serif;
        }
        .container {
            background: transparent;
            padding: 2rem;
            border-radius: 8px;
            text-align: left;
            width: 250px;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        input, button {
            height: 48px;
            border: none;
            border-radius: 10px;
            padding: 0.5rem;
            background-color: #191818;
            font-size: 16px;
            color: white
        }
        input::placeholder {
            font-weight: 300;
        }
        input:focus {
            outline: none;
            border: 2px solid white;
        }
        button {
            background-color: #B3C4FF;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
        button:hover {
            background-color: #8792bc;
        }
        h2 {
          color: white;
          font-weight: 500;
          font-size: 20px;
          margin-bottom: 0;
        }

        .subtitle {
          color: rgb(78, 78, 78);
          margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Reset Your Password</h2>
        <p class="subtitle">Your password must be different than previous passwords</p>
        <form action="/auth/password-reset" method="POST">
            <input type="password" id="password" name="password" placeholder="New Password" required>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>

            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
